.wl-codeblockheader {
  background-color: color-mix(in srgb, var(--bg), #777 20%);
  color: var(--fg);
  margin-bottom: -16px;
  padding: .7rem;
  display: flex;
  justify-content: space-between;
}

.wl-codeblockheader>span:not(.wl-icon) {
  font-size: .8em;
  font-family: "Open Sans", sans-serif;
}

.wl-codeblockheader>span,
.wl-codeblockheader>.wl-langinfo>span {
  padding: 0 9px;
}

.wl-codeblockheader>span.wl-filepath {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wl-lang-name {
  font-family: "Open Sans", sans-serif;
}